@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto&display=swap");

.App {
  margin: 20px auto;
  padding: 20px;
  h1,
  h4 {
    text-align: center;
    text-decoration: none;
  }
  form{
      margin: 10px 0 0 45.5%;
      font-family: 'Roboto', sans-serif;
  }
  button{
      margin: 2px 0 0 3%;
      width: 100px;
      height: 30px;
      padding: 5px;
      font-family: 'Roboto', sans-serif;
  }
}

/* Card  */
.card {
  margin: 20px auto;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  color: white;
  .location {
    text-align: center;
  }
  .city,
  .temperature,
  .condition {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
  }
  .country {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1.3rem;
  }
  .icon {
    width: 40%;
  }
}
